*{
	padding: 0px;
	margin:0px;
}
fieldset{
	margin: 30px auto;
	width: 400px;
	padding: 30px;
	color: #bbb;
	background-color: #F6F6F6;
	border:2px solid #bbb;
	border-radius: 20px;
	text-align: center;
}
section{
	width: 100%;
	color: #7B7B7B;
	font-size: 30px;
	text-align: left;
}
form>input{
	width: 100%;
	height: 30px;
	margin: 5px 0px;
	font-size: 25px;
	background-image: url(../img/asterisk_orange.png);
	background-repeat: no-repeat;
	background-position: 98% 6px;
}
.cancel{
	width: 105%;
	height: 35px;
	margin: 5px 0px;
	font-size: 25px;
	background-image: url(../img/cancel.png);
	background-repeat: no-repeat;
	background-position: 98% 6px;
}
form>textarea{
	width: 100%;
	height: 80px;
	resize: none;
	background-image: url(../img/asterisk_orange.png);
	background-repeat: no-repeat;
	background-position: 98% 10px;
}
.textarea{
	width: 105%;
	height: 85px;
	resize: none;
	background-image: url(../img/cancel.png);
	background-repeat: no-repeat;
	background-position: 98% 10px;
}
form [type='submit']{
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	color: #7B7B7B;
	background-image: none;
	border: 1px solid #f0f0f0;
	background-color: #F6F6F6;
}