* {
  padding: 0;
  margin: 0 auto;
}
body {
  color: #fff;
  font-family: 'Kelly Slab', 'Myriad Pro', Arial, sans-serif;
  font-size: 15px;
}
.weiruan {
  font-family: "Segoe UI", "微软雅黑";
  font-size: 12px;
}
ul {
  list-style: none;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.clear {
  margin: auto;
  padding: 0;
  width: 100%;
  height: 0;
  clear: both;
}
.top-ico1,
.top-ico3,
.top-ico5 {
  background: url(../../src/images/top-ico3.png) no-repeat;
  width: 43px;
  height: 43px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -21px;
}
.top-ico1:hover,
.top-ico3:hover,
.top-ico5:hover {
  background: url(../../src/images/top-ico1-hover.png) no-repeat;
}
.top-ico2,
.top-ico4 {
  background: url(../../src/images/top-ico4.png) no-repeat;
  width: 43px;
  height: 43px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -21px;
}
.top-ico2:hover,
.top-ico4:hover {
  background: url(../../src/images/top-ico2-hover.png) no-repeat;
}
#md-1,
#md-2,
#md-3,
#md-4,
#md-5 {
  position: relative;
  left: 0;
  top: -30px;
}
/*logo开始 背景图，定位*/
#logo {
  background: url(../../src/images/xbj1.png) center top no-repeat #f8f8f8;
  height: 583px;
  width: 100%;
  padding-top: 160px;
  position: relative;
  text-align: center;
}
/*```````````````````````````*/
.logo-title {
  width: 100%;
  text-align: center;
}
/*-------on-------*/
.logo-title .container.on h3 {
  background: #171717;
  border-bottom: 1px solid #252525;
  height: 0;
  text-indent: -9999px;
}
.logo-title .container.on ul {
  opacity: 1;
  height: 250px;
}
.logo-title .container ul {
  opacity: 0;
  display: block;
  width: 100%;
  color: #999;
  background: url(../../src/images/xbj2.png);
  overflow: hidden;
  height: 0;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.logo-title .container h3 {
  overflow: hidden;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-bottom: 1px solid #8F8F8F;
  cursor: pointer;
  font-size: 30px;
  font-family: "微软雅黑";
  display: block;
  color: #ffffff;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/*----------------------------------------------*/
#logo li {
  line-height: 80px;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
}
.expertise-title2 {
  width: 534px;
  margin: 0 auto;
}
.logo-title h3.on div span {
  height: 0px;
}
.fl {
  float: left;
  display: inline;
}
.logo-title h3.on div em {
  height: 0px;
}
.fr {
  float: right;
  display: inline;
}
.logo-title h3 em {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(../../src/images/xico1.png) no-repeat;
  position: relative;
  left: 10px;
  top: 23px;
  cursor: pointer;
}
.expertise-list2 {
  margin: 50px 25px;
}
.expertise-list2 font {
  font-family: "微软雅黑";
  font-size: 22px;
  color: #bfbfbf;
  display: block;
}
.expertise-list2 span {
  font-family: "微软雅黑";
  font-size: 60px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
}
/*木鱼是谁 背景图，定位*/
#who {
  background: url(../../src/images/xbj3.png) center top no-repeat #282828;
  height: 660px;
  width: 100%;
  padding-top: 50px;
  position: relative;
}
#whoIsmuyu {
  text-align: center;
  height: 96px;
}
/*木鱼是谁logo*/
#whoIsmuyu img {
  margin-bottom: 20px;
}
/*who are we*/
#whoIsmuyu p {
  font-size: 20px;
  color: #999;
  font-weight: 100;
}
/*蓝色插画1*/
.Underline {
  background: url('../../src/images/xbj4.png') center;
  height: 3px;
  margin-bottom: 48px;
}
/*大鱼logo*/
.who-muyu {
  background: url("../../src/images/xbj7.png") no-repeat;
  width: 695px;
  height: 222px;
  padding-top: 140px;
  padding-left: 320px;
}
.who-muyu b {
  font-size: 36px;
  margin-bottom: 15px;
}
.who-muyu ul li {
  float: left;
  width: 75px;
  margin-right: 125px;
  text-align: center;
}
#viewpoint {
  background: url(../../src/images/page-about-bj.png) center #f8f8f8;
  height: 617px;
  width: 100%;
  padding-top: 46px;
  position: relative;
}
.viewpointIsMe {
  text-align: center;
}
.viewpointIsMe img {
  margin-bottom: 20px;
}
.viewpointIsMe p {
  font-size: 20px;
  color: #999;
  font-weight: 100;
  margin-bottom: 20px;
}
/*蓝色插画2*/
.Underline2 {
  background: url('../../src/images/border-bottom2.png') center;
  height: 3px;
  margin-bottom: 48px;
}
.viewpoint {
  width: 533px;
  height: 191px;
  margin: 0 auto;
  position: relative;
  top: 100px;
  left: 0;
  overflow: hidden;
  text-align: center;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  line-height: 0;
}
.show1 {
  position: relative;
}
.fl {
  float: left;
  display: inline;
}
.show-bj {
  width: 528px;
  height: 187px;
  position: absolute;
  left: -341px;
  top: 0;
  background: url(../../src/images/love-bj.png) no-repeat;
}
.love-btn {
  width: 187px;
  height: 187px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}
.love-jia {
  position: absolute;
  left: 247px;
  top: 75px;
}
.show2 {
  width: 0;
  height: 187px;
  position: relative;
  right: 0;
  top: 0;
}
.fr {
  float: right;
  display: inline;
}
.love-btn2 {
  width: 187px;
  height: 187px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.love-bj {
  background: url(../../src/images/love-bj.png) no-repeat !important;
  width: 528px;
  height: 187px;
  display: block;
}
#map {
  background: url(../../src/images/xbj5.png) center top no-repeat #282828;
  height: 860px;
  width: 100%;
  padding-top: 50px;
  position: relative;
}
.mapMuyu {
  text-align: center;
  height: 96px;
}
/*导图logo*/
.mapMuyu img {
  margin-bottom: 20px;
}
/*导图文字*/
.mapMuyu p {
  font-size: 20px;
  color: #999;
  font-weight: 100;
}
.map-view {
  text-align: center;
}
#a.active {
  animation: heartbeat 2s;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
#team {
  background: url(../../src/images/page-about-bj.png) center bottom no-repeat;
  height: 795px;
  width: 100%;
  position: relative;
}
.team-Muyu {
  text-align: center;
  background-color: #282828;
}
.team-Muyu img {
  margin-top: 30px;
  margin-bottom: 20px;
}
.team-Muyu p {
  font-size: 20px;
  color: #999;
  font-weight: 100;
  padding-bottom: 20px;
}
/*蓝色插画2-团队*/
.Underline3 {
  background: url('../../src/images/border-bottom2.png') center;
  height: 3px;
}
.team-Exhibition {
  text-align: center;
}
.team-Exhibition ul {
  width: 910px;
  height: 600px;
}
.team-Exhibition li {
  float: left;
  margin: 20px;
}
.team-Exhibition h2 {
  font-family: "微软雅黑";
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 8px;
}
.team-Exhibition p {
  font-family: "微软雅黑";
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  width: 100%;
}
#photoWall {
  background: url(../../src/images/xbj8.png) center top no-repeat #f3f3f3;
  height: 728px;
  width: 100%;
  margin-top: -100px;
}
#inspirationSpace {
  padding-top: 55px;
  height: 263px;
  background-color: #f3f3f3;
  position: relative;
  text-align: center;
}
#inspirationSpace h1 {
  font-family: "微软雅黑";
  font-size: 30px;
  color: #262626;
  display: block;
  margin-bottom: 30px;
}
#inspirationSpace p {
  color: #bfbfbf;
  font-family: "微软雅黑";
  font-size: 16px;
  display: block;
  margin-bottom: 35px;
}
.inspirationSpace-btn {
  background: url("../../src/images/btn.png") no-repeat;
  width: 116px;
  height: 37px;
  line-height: 37px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.inspirationSpace-btn:hover {
  background: url("../../src/images/btn-hover.png") no-repeat;
}
footer {
  background: url(../../src/images/work-foot-bj.png) center top no-repeat;
  width: 100%;
  height: 386px;
  margin-top: -102px;
  position: relative;
  text-align: center;
}
.foot-about {
  width: 920px;
  margin: 0 auto;
  height: 100px;
  line-height: 100px;
  padding-bottom: 87px;
  padding-top: 160px;
}
.foot-about span {
  float: left;
  font-family: "微软雅黑" !important;
  font-size: 20px !important;
  color: #d3d3d3;
  line-height: 144px;
}
.QQ {
  background: url('../../src/images/QQ-ICO2.png') no-repeat;
  height: 100px;
  width: 100px;
  display: inline;
}
.QQ:hover {
  background: url('../../src/images/QQ-ICO-HOVER.png') no-repeat;
}
.weixin {
  background: url('../../src/images/WX-ICO2.png') no-repeat;
  height: 100px;
  width: 100px;
  display: inline;
}
.weixin:hover {
  background: url('../../src/images/WX-ICO-HOVER.png') no-repeat;
}
.weibo {
  background: url("../../src/images/WB-ICO2.png") no-repeat;
  height: 100px;
  width: 100px;
  display: inline;
}
.weibo:hover {
  background: url('../../src/images/WB-ICO-HOVER.png') no-repeat;
}
.foot-about a {
  float: left;
  margin: 20px;
}
