.muyu-show {
  position: fixed;
  right: -125px;
  top: 100px;
  z-index: 999999;
}
.muyu-show .menu {
  width: 60px;
  height: 59px;
  display: inline-block;
  background: url(../../src/images/menu.png) no-repeat;
  transition: 0.9s;
}
.muyu-show .menu:hover {
  background: url(../../src/images/menu-hover.png) no-repeat;
}
.muyu-show .consult {
  width: 60px;
  height: 59px;
  display: inline-block;
  background: url(../../src/images/menu2.gif) no-repeat;
  transition: 0.9s;
}
.muyu-show .consult:hover {
  background: url(../../src/images/menu2-hover.png) no-repeat;
}
.muyu-dynamic {
  width: 100%;
  text-align: center;
  background: #e5e5e5;
  padding-top: 53px;
  padding-bottom: 20px;
}
.muyu-dynamic .dynamic-nav {
  margin-bottom: 47px;
  text-align: center;
}
.muyu-dynamic .dynamic-nav .active {
  border-radius: 14px;
  color: #000;
  background-color: #fff;
}
.muyu-dynamic .dynamic-nav > a {
  width: 63px;
  height: 29px;
  display: inline-block;
  text-align: center;
  line-height: 29px;
  font-size: 16px;
  color: #6c6c6c;
  transition: 0.3s;
}
.muyu-dynamic .dynamic-nav > a:hover {
  border-radius: 14px;
  color: #000;
  background-color: #fff;
}
.dynamic-monment {
  width: 1470px;
  margin: auto;
  margin-top: -27px;
  height: 1800px;
  position: relative;
}
.dynamic-monment ul {
  overflow: hidden;
}
.dynamic-monment ul > li {
  width: 330px;
  height: 400px;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fff;
  transition: all 1.5s;
  position: absolute;
  float: left;
  left: 0;
  top: 0;
}
.dynamic-monment ul > li:hover {
  background-color: #28c1e5;
}
.dynamic-monment ul > li:hover .dynamic-date a,
.dynamic-monment ul > li:hover .dynamic-date span,
.dynamic-monment ul > li:hover .dynamic-content {
  color: #fff;
}
.dynamic-monment ul img {
  width: 300px;
  vertical-align: bottom;
  height: 214px !important;
}
.dynamic-monment ul .dynamic-date {
  margin-top: 10px;
  text-align: left;
}
.dynamic-monment ul .dynamic-date > a {
  font-size: 16px;
  color: #000;
  transition: 0.6s;
}
.dynamic-monment ul .dynamic-date > span {
  float: right;
  display: inline;
  font-size: 13px;
  color: #c2c2c2;
  transition: 0.6s;
}
.dynamic-monment ul .dynamic-con {
  text-align: left;
  margin-top: 20px;
}
.dynamic-monment ul .dynamic-con > .dynamic-content {
  line-height: 23px;
  font-size: 14px;
  color: #c2c2c2;
  transition: 0.6s;
  text-align: left;
}
.dynamic-footer {
  padding-bottom: 80px;
  text-align: center;
}
.dynamic-footer a {
  padding-left: 20px;
  padding-right: 20px;
  height: 45px;
  border-radius: 45px;
  text-align: center;
  line-height: 45px;
  font-size: 12px;
  color: #fff;
  background: #01B6E0;
  display: inline-block;
  transition: 0.8s;
}
.dynamic-footer a:hover {
  background: #09d5ff;
}
.dynamic-footer .dynamic-pages {
  background-color: #e5e5e5;
  color: #000;
}
.dynamic-bc {
  background-color: #e5e5e5;
  bottom: 0;
}
@media screen and (min-width: 1200px) {
  .dynamic-monment {
    width: 1470px;
    margin: auto;
    margin-top: -27px;
    height: 1800px;
  }
  li:nth-child(4n+1) {
    margin-left: 0!important;
  }
  li:nth-child(4n) {
    margin-right: 0!important;
  }
}
@media screen and (min-width: 780px) and (max-width: 1200px) {
  .dynamic-monment {
    width: 1100px;
    margin: auto;
    margin-top: -27px;
    height: 2250px;
  }
  li:nth-child(3n+1) {
    margin-left: 0!important;
  }
  li:nth-child(3n) {
    margin-right: 0!important;
  }
}
@media screen and (min-width: 400px) and (max-width: 780px) {
  .dynamic-monment {
    width: 760px;
    margin: auto;
    margin-top: -27px;
    height: 3600px;
    position: relative;
  }
  li:nth-child(2n+1) {
    margin-left: 0!important;
  }
  li:nth-child(2n) {
    margin-right: 0!important;
  }
}
@media screen and (max-width: 400px) {
  .dynamic-monment {
    width: 330px;
    margin: auto;
    margin-top: -27px;
    height: 6750px;
    position: relative;
  }
  li {
    margin: 25px;
  }
}
body > footer {
  margin-top: 50px;
  background: #e5e5e5;
}
